
<%- include("./inc/head.ejs", { title: "Error" }) %>

<div class="index__wrapper wrapper">
  <main class="main text-center">
    <h1 class="text-light"><%= message %></h1>
  </main>
</div>

<%- include("./inc/footer.ejs") %>
