<!DOCTYPE html>
<html lang="en">
  <%- include("./inc/head.ejs") %>
  <body>
    <div class="index__wrapper wrapper">
      <%- include("./inc/headers.ejs") %>
      <main class="main text-center">
        <p class="main__desc text-light text-center">To use the app, do one of the following</p>
        <div class="main__container container">
          <button type="button" class="main__btn btn btn-light btn-lg pe-2">Sign in</button>
          <button type="button" class="main__btn btn btn-light btn-lg pe-2">Sign up</button>
        </div>
      </main>
    </div>
  </body>
</html>
