<%- include("./inc/head.ejs") %>

<div class="index__wrapper wrapper">
  <%- include("./inc/headers.ejs") %>
  <main class="main text-center">
    <p class="main__desc text-light text-center">
      To use the app, do one of the following
    </p>
    <div class="main__container container">
      <a href="auth/login" class="main__btn btn btn-light btn-lg"
        >Sign in</a
      >
      <a href="auth/register" class="main__btn btn btn-light btn-lg"
        >Sign up</a
      >
    </div>
  </main>
</div>

<%- include("./inc/footer.ejs") %>
